<%- include('partials/header') %>
    <div class="container pt-5">
        <h1>Tickets from Love</h1>
        <h2>Session "<%= session.title %>"</h2>
        <h3>Description: <%= session.description %></h3>

        <div class="contents row pt-3">
            <% if (placements.length === 0) { %>
                <p>There are no available tickets.</p>
            <% } %>

            <% for (const placement of placements) { %>
                <div class="col-xl-2 col-md-3 card m-2">
                    <div class="card-body">
                        <h5 class="card-title">
                            Row <%= placement.row %>, seat <%= placement.seat %>
                        </h5>
                        <a class="btn btn-primary book-ticket" data-placement-id="<%= placement.id %>"
                            data-session-id="<%= session.id %>">
                            Book
                        </a>
                    </div>
                </div>
            <% } %>
        </div>
    </div>

    <script defer>
        // Guest page, book tickets
        const bookTicketButtons = document.querySelectorAll('.book-ticket');
        for (const button of bookTicketButtons) {
            button.addEventListener('click', (event) => {
                const sessionId = event.target.getAttribute('data-session-id');
                const placementId = event.target.getAttribute('data-placement-id');

                fetch('/api/v1/placement/book', {
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    method: 'POST',
                    body: JSON.stringify({ sessionId, placementId })
                })
                    .then((response) => response.json())
                    .then((data) => {
                        if (data.error) {
                            alert(data.message);
                        } else {
                            window.location.reload();
                        }
                    }).catch((error) => {
                        console.error(error);
                    });
            });
        }
    </script>
<%- include('partials/footer') %>
